{
  "{{ package_id }}": {
    "package_info": {
      "package_id": "{{ package_id }}",
      "package_type": "plugin",
      "display_name": "{{ display_name }}",
      "description": "{{ description }}",
      "package_version": "{{ version }}",
      "sdk_version": "{{ sdk_version }}",
      "website": "{{ website }}",
      "author": {
        "author_id": "UltimakerPackages",
        "display_name": "{{ author }}",
        "email": "plugins@ultimaker.com",
        "website": "{{ website_author }}"
      }
    }
  }
}