{
  "author": {
    "author_id": "{{ author_id }}",
    "display_name": "{{ author }}",
    "email": "cura-software@ultimaker.com",
    "website": "{{ website_author }}"
  },
  "description": "{{ description }}",
  "display_name": "{{ display_name }}",
  "package_id": "{{ package_id }}",
  "package_type": "plugin",
  "package_version": "{{ version }}",
  "sdk_version": 0,
  "sdk_version_semver": "0.0.0",
  "website": "{{ website }}"
}